/**
 * @file
 * RTL companion for the styles.scss file.
 */
/* Import Sass mixins, variables, Compass modules, etc. */
/* HTML element (SMACSS base) rules */
/**
 * @file
 * Normalize-rtl.scss is the RTL language extension of normalize.scss
 */
/**
 * Lists
 */
/* line 9, ../sass/_normalize-rtl.scss */
dd {
  margin: 0 30px 0 0;
}

/* Address paddings set differently in IE 6/7. */
/* line 16, ../sass/_normalize-rtl.scss */
menu,
ol,
ul {
  padding: 0 30px 0 0;
}

/* Layout rules */
/**
 * @file
 * RTL companion for the layout-responsive.css file.
 */
/**
 * @file
 * Positioning for a responsive layout.
 *
 * Define CSS classes to create a fluid grid layout with optional sidebars
 * depending on whether blocks are placed in the left or right sidebars.
 *
 * This layout uses the Zen Grids plugin for Compass: http://zengrids.com
 */
/**
 * Use 3 grid columns for smaller screens.
 */
@media all and (min-width: 480px) and (max-width: 959px) {
  /**
   * The layout when there is only one sidebar, the left one.
   */
  /* line 86, ../sass/layouts/_responsive.scss */
  .sidebar-first {
    /* Span 2 columns, starting in 2nd column from left. */
    /* Span 1 column, starting in 1st column from left. */
  }
  /* line 88, ../sass/layouts/_responsive.scss */
  .sidebar-first #content {
    float: right;
    width: 66.66667%;
    margin-right: 33.33333%;
    margin-left: -100%;
  }
  /* line 93, ../sass/layouts/_responsive.scss */
  .sidebar-first .region-sidebar-first {
    float: right;
    width: 33.33333%;
    margin-right: 0%;
    margin-left: -33.33333%;
  }

  /**
   * The layout when there is only one sidebar, the right one.
   */
  /* line 101, ../sass/layouts/_responsive.scss */
  .sidebar-second {
    /* Span 2 columns, starting in 1st column from left. */
    /* Span 1 column, starting in 3rd column from left. */
  }
  /* line 103, ../sass/layouts/_responsive.scss */
  .sidebar-second #content {
    float: right;
    width: 66.66667%;
    margin-right: 0%;
    margin-left: -66.66667%;
  }
  /* line 108, ../sass/layouts/_responsive.scss */
  .sidebar-second .region-sidebar-second {
    float: right;
    width: 33.33333%;
    margin-right: 66.66667%;
    margin-left: -100%;
  }

  /**
   * The layout when there are two sidebars.
   */
  /* line 116, ../sass/layouts/_responsive.scss */
  .two-sidebars {
    /* Span 2 columns, starting in 2nd column from left. */
    /* Span 1 column, starting in 1st column from left. */
    /* Start a new row and span all 3 columns. */
  }
  /* line 118, ../sass/layouts/_responsive.scss */
  .two-sidebars #content {
    float: right;
    width: 66.66667%;
    margin-right: 33.33333%;
    margin-left: -100%;
  }
  /* line 123, ../sass/layouts/_responsive.scss */
  .two-sidebars .region-sidebar-first {
    float: right;
    width: 33.33333%;
    margin-right: 0%;
    margin-left: -33.33333%;
  }
  /* line 128, ../sass/layouts/_responsive.scss */
  .two-sidebars .region-sidebar-second {
    float: right;
    width: 100%;
    margin-right: 0%;
    margin-left: -100%;
    padding-left: 0;
    padding-right: 0;
    clear: right;
    /* Apply the shared properties of grid items in a single, efficient ruleset. */
    /* Span 1 column, starting in the 1st column from left. */
    /* Span 1 column, starting in the 2nd column from left. */
    /* Span 1 column, starting in the 3rd column from left. */
  }
  /* line 134, ../sass/layouts/_responsive.scss */
  .two-sidebars .region-sidebar-second .block {
    padding-left: 5px;
    padding-right: 5px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
  }
  /* line 138, ../sass/layouts/_responsive.scss */
  .two-sidebars .region-sidebar-second .block:nth-child(3n+1) {
    float: right;
    width: 33.33333%;
    margin-right: 0%;
    margin-left: -33.33333%;
    clear: right;
  }
  /* line 143, ../sass/layouts/_responsive.scss */
  .two-sidebars .region-sidebar-second .block:nth-child(3n+2) {
    float: right;
    width: 33.33333%;
    margin-right: 33.33333%;
    margin-left: -66.66667%;
  }
  /* line 147, ../sass/layouts/_responsive.scss */
  .two-sidebars .region-sidebar-second .block:nth-child(3n) {
    float: right;
    width: 33.33333%;
    margin-right: 66.66667%;
    margin-left: -100%;
  }
}
/**
 * Use 5 grid columns for larger screens.
 */
@media all and (min-width: 768px) {
  /**
   * The layout when there is only one sidebar, the left one.
   */
  /* line 164, ../sass/layouts/_responsive.scss */
  .sidebar-first {
    /* Span 4 columns, starting in 2nd column from left. */
    /* Span 1 column, starting in 1st column from left. */
  }
  /* line 166, ../sass/layouts/_responsive.scss */
  .sidebar-first #content {
    float: right;
    width: 16.66667%;
    margin-right: 4.16667%;
    margin-left: -20.83333%;
  }
  /* line 171, ../sass/layouts/_responsive.scss */
  .sidebar-first .region-sidebar-first {
    float: right;
    width: 4.16667%;
    margin-right: 0%;
    margin-left: -4.16667%;
  }

  /**
   * The layout when there is only one sidebar, the right one.
   */
  /* line 179, ../sass/layouts/_responsive.scss */
  .sidebar-second {
    /* Span 4 columns, starting in 1st column from left. */
    /* Span 1 column, starting in 5th column from left. */
  }
  /* line 181, ../sass/layouts/_responsive.scss */
  .sidebar-second #content {
    float: right;
    width: 66.66667%;
    margin-right: 0%;
    margin-left: -66.66667%;
  }
  /* line 186, ../sass/layouts/_responsive.scss */
  .sidebar-second .region-sidebar-second {
    float: left;
    width: 29.16667%;
    margin-left: 0%;
    margin-right: -29.16667%;
  }

  /**
   * The layout when there are two sidebars.
   */
  /* line 194, ../sass/layouts/_responsive.scss */
  .two-sidebars {
    /* Span 3 columns, starting in 2nd column from left. */
    /* Span 1 column, starting in 1st column from left. */
    /* Span 1 column, starting in 5th column from left. */
  }
  /* line 196, ../sass/layouts/_responsive.scss */
  .two-sidebars #content {
    float: right;
    width: 12.5%;
    margin-right: 4.16667%;
    margin-left: -16.66667%;
  }
  /* line 201, ../sass/layouts/_responsive.scss */
  .two-sidebars .region-sidebar-first {
    float: right;
    width: 4.16667%;
    margin-right: 0%;
    margin-left: -4.16667%;
  }
  /* line 206, ../sass/layouts/_responsive.scss */
  .two-sidebars .region-sidebar-second {
    float: right;
    width: 4.16667%;
    margin-right: 16.66667%;
    margin-left: -20.83333%;
  }
}
@media all and (min-width: 480px) {
  /* line 215, ../sass/layouts/_responsive.scss */
  #header .header-wrapper #block-menu-block-1 {
    top: 40px;
  }

  /* line 222, ../sass/layouts/_responsive.scss */
  #main #content #block-panels-mini-original {
    float: right;
    width: 100%;
    margin-right: 0%;
    margin-left: -100%;
  }
  /* line 224, ../sass/layouts/_responsive.scss */
  #main #content #block-panels-mini-original .pane-template-hot-cake {
    float: right;
    width: 66.66667%;
    margin-right: 0%;
    margin-left: -66.66667%;
    padding-left: 5px;
    padding-right: 5px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
  }
  /* line 228, ../sass/layouts/_responsive.scss */
  #main #content #block-panels-mini-original .pane-template-hot-cake .view-template-hot-cake .views-row {
    clear: right;
  }
  /* line 232, ../sass/layouts/_responsive.scss */
  #main #content #block-panels-mini-original .pane-template-hot-cake .view-template-hot-cake .views-row-odd .views-field-field-image {
    padding-left: 5px;
    padding-right: 5px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
    float: right;
    width: 47.91667%;
    margin-right: 0%;
    margin-left: -47.91667%;
  }
  /* line 236, ../sass/layouts/_responsive.scss */
  #main #content #block-panels-mini-original .pane-template-hot-cake .view-template-hot-cake .views-row-odd .views-field-title {
    padding-left: 5px;
    padding-right: 5px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
    float: left;
    width: 50%;
    margin-left: 0%;
    margin-right: -50%;
  }
  /* line 240, ../sass/layouts/_responsive.scss */
  #main #content #block-panels-mini-original .pane-template-hot-cake .view-template-hot-cake .views-row-odd .views-field-field-cake-name {
    padding-left: 5px;
    padding-right: 5px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
    clear: left;
    float: left;
    width: 50%;
    margin-left: 0%;
    margin-right: -50%;
  }
  /* line 245, ../sass/layouts/_responsive.scss */
  #main #content #block-panels-mini-original .pane-template-hot-cake .view-template-hot-cake .views-row-odd .views-field-body {
    padding-left: 5px;
    padding-right: 5px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
    clear: left;
    float: left;
    width: 50%;
    margin-left: 0%;
    margin-right: -50%;
  }
  /* line 250, ../sass/layouts/_responsive.scss */
  #main #content #block-panels-mini-original .pane-template-hot-cake .view-template-hot-cake .views-row-odd .views-field-field-link {
    padding-left: 5px;
    padding-right: 5px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
    clear: left;
    float: left;
    width: 50%;
    margin-left: 0%;
    margin-right: -50%;
  }
  /* line 257, ../sass/layouts/_responsive.scss */
  #main #content #block-panels-mini-original .pane-template-hot-cake .view-template-hot-cake .views-row-even .views-field-field-image {
    padding-left: 5px;
    padding-right: 5px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
    float: left;
    width: 47.91667%;
    margin-left: 0%;
    margin-right: -47.91667%;
  }
  /* line 261, ../sass/layouts/_responsive.scss */
  #main #content #block-panels-mini-original .pane-template-hot-cake .view-template-hot-cake .views-row-even .views-field-title {
    padding-left: 5px;
    padding-right: 5px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
    float: right;
    width: 50%;
    margin-right: 0%;
    margin-left: -50%;
  }
  /* line 265, ../sass/layouts/_responsive.scss */
  #main #content #block-panels-mini-original .pane-template-hot-cake .view-template-hot-cake .views-row-even .views-field-field-cake-name {
    padding-left: 5px;
    padding-right: 5px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
    clear: right;
    float: right;
    width: 50%;
    margin-right: 0%;
    margin-left: -50%;
  }
  /* line 270, ../sass/layouts/_responsive.scss */
  #main #content #block-panels-mini-original .pane-template-hot-cake .view-template-hot-cake .views-row-even .views-field-body {
    padding-left: 5px;
    padding-right: 5px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
    clear: right;
    float: right;
    width: 50%;
    margin-right: 0%;
    margin-left: -50%;
  }
  /* line 275, ../sass/layouts/_responsive.scss */
  #main #content #block-panels-mini-original .pane-template-hot-cake .view-template-hot-cake .views-row-even .views-field-field-link {
    padding-left: 5px;
    padding-right: 5px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
    clear: right;
    float: right;
    width: 50%;
    margin-right: 0%;
    margin-left: -50%;
  }
  /* line 284, ../sass/layouts/_responsive.scss */
  #main #content #block-panels-mini-original .pane-template-hot-shop {
    float: left;
    width: 29.16667%;
    margin-left: 0%;
    margin-right: -29.16667%;
    padding-left: 5px;
    padding-right: 5px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
  }
  /* line 288, ../sass/layouts/_responsive.scss */
  #main #content #block-panels-mini-original .pane-fb-likebox-0 {
    clear: left;
    float: left;
    width: 29.16667%;
    margin-left: 0%;
    margin-right: -29.16667%;
    padding-left: 5px;
    padding-right: 5px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
  }
  /* line 295, ../sass/layouts/_responsive.scss */
  #main #content #block-views-3-node-news-block {
    clear: right;
  }
  /* line 301, ../sass/layouts/_responsive.scss */
  #main #content .view-latest-news ul li.views-row:nth-child(2n+1) {
    width: 49.16667%;
    margin-right: 1.66667%;
    float: left;
    clear: right;
  }
  /* line 307, ../sass/layouts/_responsive.scss */
  #main #content .view-latest-news ul li.views-row:nth-child(2n) {
    width: 49.16667%;
    float: left;
  }
  /* line 312, ../sass/layouts/_responsive.scss */
  #main #content .view-latest-news ul li.views-row .list-wrapper .views-field-field-image {
    float: right;
    width: 41.66667%;
    margin-right: 0%;
    margin-left: -41.66667%;
  }
  /* line 315, ../sass/layouts/_responsive.scss */
  #main #content .view-latest-news ul li.views-row .list-wrapper .views-field-title {
    float: left;
    width: 54.16667%;
    margin-left: 0%;
    margin-right: -54.16667%;
  }
  /* line 318, ../sass/layouts/_responsive.scss */
  #main #content .view-latest-news ul li.views-row .list-wrapper .views-field-body {
    clear: left;
    float: left;
    width: 54.16667%;
    margin-left: 0%;
    margin-right: -54.16667%;
  }
  /* line 322, ../sass/layouts/_responsive.scss */
  #main #content .view-latest-news ul li.views-row .list-wrapper .views-field-created {
    clear: left;
    float: left;
    width: 54.16667%;
    margin-left: 0%;
    margin-right: -54.16667%;
  }
  /* line 334, ../sass/layouts/_responsive.scss */
  #main #content .view-products ul li.views-row:nth-child(3n+1) {
    clear: right;
    width: 30.43478%;
    margin-right: 4.34783%;
    float: left;
  }
  /* line 340, ../sass/layouts/_responsive.scss */
  #main #content .view-products ul li.views-row:nth-child(3n+2) {
    width: 30.43478%;
    margin-right: 4.34783%;
    float: left;
  }
  /* line 345, ../sass/layouts/_responsive.scss */
  #main #content .view-products ul li.views-row:nth-child(3n) {
    width: 30.43478%;
    float: left;
  }
  /* line 353, ../sass/layouts/_responsive.scss */
  #main #content .node-products .field-name-field-image {
    padding-left: 5px;
    padding-right: 5px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
    float: right;
    width: 50%;
    margin-right: 0%;
    margin-left: -50%;
  }
  /* line 357, ../sass/layouts/_responsive.scss */
  #main #content .node-products .sharethis-buttons {
    padding-left: 5px;
    padding-right: 5px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
    float: left;
    width: 47.82609%;
    margin-left: 0%;
    margin-right: -47.82609%;
  }
  /* line 361, ../sass/layouts/_responsive.scss */
  #main #content .node-products .field-name-field-product-info {
    clear: left;
    padding-left: 5px;
    padding-right: 5px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
    float: left;
    width: 47.82609%;
    margin-left: 0%;
    margin-right: -47.82609%;
  }
  /* line 367, ../sass/layouts/_responsive.scss */
  #main #content .node-products .field-name-popular-porduct {
    clear: both;
    float: right;
    width: 100%;
    margin-right: 0%;
    margin-left: -100%;
  }
  /* line 373, ../sass/layouts/_responsive.scss */
  #main #content .view-contact-us {
    float: right;
    width: 47.82609%;
    margin-right: 0%;
    margin-left: -47.82609%;
  }
  /* line 376, ../sass/layouts/_responsive.scss */
  #main #content #block-webform-client-block-1 {
    float: right;
    width: 47.82609%;
    margin-right: 52.17391%;
    margin-left: -100%;
  }
  /* line 381, ../sass/layouts/_responsive.scss */
  #main #content .view--template-shop li.views-row:nth-child(3n+1) {
    clear: right;
    width: 30.43478%;
    margin-right: 4.34783%;
    float: left;
  }
  /* line 387, ../sass/layouts/_responsive.scss */
  #main #content .view--template-shop li.views-row:nth-child(3n+2) {
    width: 30.43478%;
    margin-right: 4.34783%;
    float: left;
  }
  /* line 392, ../sass/layouts/_responsive.scss */
  #main #content .view--template-shop li.views-row:nth-child(3n) {
    width: 30.43478%;
    float: left;
  }
  /* line 400, ../sass/layouts/_responsive.scss */
  #main #content .node-shop .field-name-field-shop-img .field-item {
    width: 49.56522%;
    float: left;
    margin-right: 0.86957%;
  }
  /* line 405, ../sass/layouts/_responsive.scss */
  #main #content .node-shop .field-name-field-shop-img .field-item:last-child {
    margin-right: 0px;
  }
  /* line 411, ../sass/layouts/_responsive.scss */
  #main #content .node-shopping .field-name-field-return {
    float: right;
    width: 47.82609%;
    margin-right: 0%;
    margin-left: -47.82609%;
  }
  /* line 415, ../sass/layouts/_responsive.scss */
  #main #content .node-shopping .field-name-field-shipment {
    clear: right;
    float: right;
    width: 47.82609%;
    margin-right: 0%;
    margin-left: -47.82609%;
  }
  /* line 419, ../sass/layouts/_responsive.scss */
  #main #content .node-shopping .field-name-field-discount {
    clear: right;
    float: right;
    width: 47.82609%;
    margin-right: 0%;
    margin-left: -47.82609%;
  }
  /* line 423, ../sass/layouts/_responsive.scss */
  #main #content .node-shopping .field-name-field-delivery {
    clear: right;
    float: right;
    width: 47.82609%;
    margin-right: 0%;
    margin-left: -47.82609%;
  }
  /* line 427, ../sass/layouts/_responsive.scss */
  #main #content .node-shopping .field-name-field-remittance {
    clear: right;
    float: right;
    width: 47.82609%;
    margin-right: 0%;
    margin-left: -47.82609%;
  }
  /* line 431, ../sass/layouts/_responsive.scss */
  #main #content .node-shopping .field-name-field-shopping {
    float: left;
    width: 47.82609%;
    margin-left: 0%;
    margin-right: -47.82609%;
  }
  /* line 434, ../sass/layouts/_responsive.scss */
  #main #content .node-shopping .field-name-field-files {
    clear: left;
    float: left;
    width: 47.82609%;
    margin-left: 0%;
    margin-right: -47.82609%;
  }
  /* line 440, ../sass/layouts/_responsive.scss */
  #main #content #block-views-about-us-block-1 {
    float: right;
    width: 100%;
    margin-right: 0%;
    margin-left: -100%;
  }
  /* line 443, ../sass/layouts/_responsive.scss */
  #main #content #block-views-about-us-block-1 .views-row .views-field-field-us-image {
    float: right;
    width: 43.75%;
    margin-right: 0%;
    margin-left: -43.75%;
  }
  /* line 446, ../sass/layouts/_responsive.scss */
  #main #content #block-views-about-us-block-1 .views-row .views-field-body {
    float: left;
    width: 54.16667%;
    margin-left: 0%;
    margin-right: -54.16667%;
  }
  /* line 452, ../sass/layouts/_responsive.scss */
  #main #content #block-views-about-us-block-2 {
    clear: right;
  }
  /* line 455, ../sass/layouts/_responsive.scss */
  #main #content #block-views-about-us-block-2 .views-row:nth-child(3n+1) {
    clear: right;
    width: 31.30435%;
    margin-right: 3.04348%;
    float: left;
  }
  /* line 461, ../sass/layouts/_responsive.scss */
  #main #content #block-views-about-us-block-2 .views-row:nth-child(3n+2) {
    width: 31.30435%;
    margin-right: 3.04348%;
    float: left;
  }
  /* line 466, ../sass/layouts/_responsive.scss */
  #main #content #block-views-about-us-block-2 .views-row:nth-child(3n) {
    width: 31.30435%;
    float: left;
  }
  /* line 472, ../sass/layouts/_responsive.scss */
  #main #content #block-views-about-us-block-3 {
    clear: right;
  }
  /* line 474, ../sass/layouts/_responsive.scss */
  #main #content #block-views-about-us-block-3 .views-field-field-condition {
    width: 47.82609%;
    float: left;
    margin-right: 4.34783%;
  }
  /* line 479, ../sass/layouts/_responsive.scss */
  #main #content #block-views-about-us-block-3 .views-field-field-service {
    width: 47.82609%;
    float: left;
  }
  /* line 483, ../sass/layouts/_responsive.scss */
  #main #content #block-views-about-us-block-3 .views-field-field-right {
    clear: right;
    width: 47.82609%;
    float: left;
  }

  /* line 494, ../sass/layouts/_responsive.scss */
  #footer {
    padding: 0 20px !important;
  }
  /* line 496, ../sass/layouts/_responsive.scss */
  #footer #block-imageblock-1 {
    float: right;
    width: 25%;
    margin-right: 0%;
    margin-left: -25%;
  }
  /* line 499, ../sass/layouts/_responsive.scss */
  #footer #block-menu-menu-footer-sitemap {
    float: left;
    width: 62.5%;
    margin-left: 0%;
    margin-right: -62.5%;
  }
  /* line 502, ../sass/layouts/_responsive.scss */
  #footer #block-menu-menu-footer-sitemap ul li.expanded {
    text-align: right;
    width: 33.33333%;
    float: left;
  }
  /* line 510, ../sass/layouts/_responsive.scss */
  #footer #block-block-1 {
    float: right;
    width: 62.5%;
    margin-right: 0%;
    margin-left: -62.5%;
  }
  /* line 514, ../sass/layouts/_responsive.scss */
  #footer #block-imageblock-2 {
    clear: left;
    text-align: right;
    float: left;
    width: 37.5%;
    margin-left: 0%;
    margin-right: -37.5%;
  }
}
@media all and (min-width: 768px) and (max-width: 960px) {
  /* line 523, ../sass/layouts/_responsive.scss */
  #header {
    position: static !important;
  }
  /* line 526, ../sass/layouts/_responsive.scss */
  #header .header-wrapper .responsive-menus {
    margin-top: 40px;
  }
  /* line 529, ../sass/layouts/_responsive.scss */
  #header .header-wrapper #block-imageblock-3 {
    display: none;
  }
  /* line 532, ../sass/layouts/_responsive.scss */
  #header .header-wrapper #block-menu-block-1 {
    top: 40px;
  }

  /* line 538, ../sass/layouts/_responsive.scss */
  #main #content {
    padding: 0 20px;
  }
  /* line 540, ../sass/layouts/_responsive.scss */
  #main #content h2.block-title:before, #main #content h1#page-title:before {
    left: 20% !important;
  }
  /* line 543, ../sass/layouts/_responsive.scss */
  #main #content h2.block-title:after, #main #content h1#page-title:after {
    right: 20% !important;
  }
  /* line 548, ../sass/layouts/_responsive.scss */
  #main #content .view-latest-news ul li.views-row {
    width: 100% !important;
    clear: right;
    margin-right: 0px !important;
  }
  /* line 553, ../sass/layouts/_responsive.scss */
  #main #content .view-latest-news ul li.views-row .list-wrapper .views-field-field-image {
    float: right;
    width: 33.33333%;
    margin-right: 0%;
    margin-left: -33.33333%;
  }
  /* line 556, ../sass/layouts/_responsive.scss */
  #main #content .view-latest-news ul li.views-row .list-wrapper .views-field-title {
    float: left;
    width: 62.5%;
    margin-left: 0%;
    margin-right: -62.5%;
  }
  /* line 559, ../sass/layouts/_responsive.scss */
  #main #content .view-latest-news ul li.views-row .list-wrapper .views-field-body {
    clear: left;
    float: left;
    width: 62.5%;
    margin-left: 0%;
    margin-right: -62.5%;
  }
  /* line 563, ../sass/layouts/_responsive.scss */
  #main #content .view-latest-news ul li.views-row .list-wrapper .views-field-created {
    clear: left;
    float: left;
    width: 62.5%;
    margin-left: 0%;
    margin-right: -62.5%;
  }
  /* line 575, ../sass/layouts/_responsive.scss */
  #main .sidebars #block-views-latest-news-block h2.block-title:before, #main .sidebars #block-views-latest-news-block h2.block-title:after {
    display: none !important;
  }

  /* line 585, ../sass/layouts/_responsive.scss */
  #footer #block-revslider-2 .forcefullwidth_wrapper_tp_banner {
    position: static !important;
  }
  /* line 587, ../sass/layouts/_responsive.scss */
  #footer #block-revslider-2 .forcefullwidth_wrapper_tp_banner .fullwidth-container {
    position: static !important;
    width: auto !important;
  }
  /* line 593, ../sass/layouts/_responsive.scss */
  #footer #block-menu-menu-footer-sitemap {
    float: right;
    width: 91.66667%;
    margin-right: 4.16667%;
    margin-left: -95.83333%;
  }
  /* line 596, ../sass/layouts/_responsive.scss */
  #footer #block-menu-menu-footer-sitemap ul li.expanded {
    text-align: center !important;
  }
  /* line 601, ../sass/layouts/_responsive.scss */
  #footer #block-imageblock-1 {
    text-align: right;
    clear: both !important;
    float: right;
    width: 58.33333%;
    margin-right: 4.16667%;
    margin-left: -62.5%;
  }
  /* line 606, ../sass/layouts/_responsive.scss */
  #footer #block-block-1 {
    text-align: right;
    clear: both !important;
    float: left;
    width: 58.33333%;
    margin-left: 16.66667%;
    margin-right: -75%;
  }
  /* line 611, ../sass/layouts/_responsive.scss */
  #footer #block-imageblock-2 {
    padding-top: 50px;
    clear: none !important;
    text-align: left;
    float: left;
    width: 33.33333%;
    margin-left: 0%;
    margin-right: -33.33333%;
  }
}
@media all and (min-width: 480px) and (max-width: 767px) {
  /* line 622, ../sass/layouts/_responsive.scss */
  #header {
    position: static !important;
  }
  /* line 625, ../sass/layouts/_responsive.scss */
  #header .header-wrapper .responsive-menus {
    margin-top: 40px;
  }
  /* line 628, ../sass/layouts/_responsive.scss */
  #header .header-wrapper #block-imageblock-3 {
    display: none;
  }
  /* line 631, ../sass/layouts/_responsive.scss */
  #header .header-wrapper #block-menu-block-1 {
    top: 40px;
  }

  /* line 637, ../sass/layouts/_responsive.scss */
  #main #content {
    padding: 0 20px;
  }
  /* line 639, ../sass/layouts/_responsive.scss */
  #main #content h2.block-title:before, #main #content h1#page-title:before {
    left: 10% !important;
  }
  /* line 642, ../sass/layouts/_responsive.scss */
  #main #content h2.block-title:after, #main #content h1#page-title:after {
    right: 10% !important;
  }
  /* line 645, ../sass/layouts/_responsive.scss */
  #main #content #block-panels-mini-original {
    float: right;
    width: 100%;
    margin-right: 0%;
    margin-left: -100%;
  }
  /* line 647, ../sass/layouts/_responsive.scss */
  #main #content #block-panels-mini-original .pane-template-hot-cake {
    float: right;
    width: 100%;
    margin-right: 0%;
    margin-left: -100%;
    padding-left: 5px;
    padding-right: 5px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
  }
  /* line 653, ../sass/layouts/_responsive.scss */
  #main #content #block-panels-mini-original .pane-template-hot-shop {
    clear: right;
    float: left;
    width: 100%;
    margin-left: 0%;
    margin-right: -100%;
    padding-left: 5px;
    padding-right: 5px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
  }
  /* line 659, ../sass/layouts/_responsive.scss */
  #main #content #block-panels-mini-original .pane-template-hot-shop .view-template-hot-shop .views-row {
    width: 30.43478%;
    margin-right: 4.34783%;
    float: left;
  }
  /* line 664, ../sass/layouts/_responsive.scss */
  #main #content #block-panels-mini-original .pane-template-hot-shop .view-template-hot-shop .views-row-last {
    margin-right: 0px !important;
  }
  /* line 669, ../sass/layouts/_responsive.scss */
  #main #content #block-panels-mini-original .pane-fb-likebox-0 {
    text-align: center;
    clear: left;
    float: right;
    width: 100%;
    margin-right: 0%;
    margin-left: -100%;
    padding-left: 5px;
    padding-right: 5px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
  }
  /* line 679, ../sass/layouts/_responsive.scss */
  #main #content .view-latest-news ul li.views-row {
    width: 100% !important;
    clear: right;
    margin-right: 0px !important;
  }
  /* line 684, ../sass/layouts/_responsive.scss */
  #main #content .view-latest-news ul li.views-row .list-wrapper .views-field-field-image {
    float: right;
    width: 33.33333%;
    margin-right: 0%;
    margin-left: -33.33333%;
  }
  /* line 687, ../sass/layouts/_responsive.scss */
  #main #content .view-latest-news ul li.views-row .list-wrapper .views-field-title {
    float: left;
    width: 62.5%;
    margin-left: 0%;
    margin-right: -62.5%;
  }
  /* line 690, ../sass/layouts/_responsive.scss */
  #main #content .view-latest-news ul li.views-row .list-wrapper .views-field-body {
    clear: left;
    float: left;
    width: 62.5%;
    margin-left: 0%;
    margin-right: -62.5%;
  }
  /* line 694, ../sass/layouts/_responsive.scss */
  #main #content .view-latest-news ul li.views-row .list-wrapper .views-field-created {
    clear: left;
    float: left;
    width: 62.5%;
    margin-left: 0%;
    margin-right: -62.5%;
  }
  /* line 706, ../sass/layouts/_responsive.scss */
  #main #content .view-products ul li.views-row:nth-child(2n+1) {
    clear: right;
    width: 47.82609% !important;
    margin-right: 4.34783% !important;
    float: left;
  }
  /* line 712, ../sass/layouts/_responsive.scss */
  #main #content .view-products ul li.views-row:nth-child(2n) {
    width: 47.82609% !important;
    margin-right: 0px !important;
    float: left;
  }
  /* line 717, ../sass/layouts/_responsive.scss */
  #main #content .view-products ul li.views-row:nth-child(3n+1) {
    clear: none;
  }
  /* line 725, ../sass/layouts/_responsive.scss */
  #main #content .view--template-shop li.views-row:nth-child(2n+1) {
    clear: right;
    width: 47.82609%;
    margin-right: 4.34783%;
    float: left;
  }
  /* line 731, ../sass/layouts/_responsive.scss */
  #main #content .view--template-shop li.views-row:nth-child(2n) {
    width: 47.82609%;
    margin-right: 0 !important;
    float: left;
  }
  /* line 736, ../sass/layouts/_responsive.scss */
  #main #content .view--template-shop li.views-row:nth-child(3n+1) {
    clear: none !important;
  }
  /* line 743, ../sass/layouts/_responsive.scss */
  #main #content .node-shopping .field-name-field-return {
    float: right;
    width: 100%;
    margin-right: 0%;
    margin-left: -100%;
  }
  /* line 747, ../sass/layouts/_responsive.scss */
  #main #content .node-shopping .field-name-field-shipment {
    clear: right;
    float: right;
    width: 100%;
    margin-right: 0%;
    margin-left: -100%;
  }
  /* line 751, ../sass/layouts/_responsive.scss */
  #main #content .node-shopping .field-name-field-discount {
    clear: right;
    float: right;
    width: 100%;
    margin-right: 0%;
    margin-left: -100%;
  }
  /* line 755, ../sass/layouts/_responsive.scss */
  #main #content .node-shopping .field-name-field-delivery {
    clear: right;
    float: right;
    width: 100%;
    margin-right: 0%;
    margin-left: -100%;
  }
  /* line 759, ../sass/layouts/_responsive.scss */
  #main #content .node-shopping .field-name-field-remittance {
    clear: right;
    float: right;
    width: 100%;
    margin-right: 0%;
    margin-left: -100%;
  }
  /* line 763, ../sass/layouts/_responsive.scss */
  #main #content .node-shopping .field-name-field-shopping {
    display: none;
  }
  /* line 766, ../sass/layouts/_responsive.scss */
  #main #content .node-shopping .field-name-field-files {
    clear: right;
    float: left;
    width: 100%;
    margin-left: 0%;
    margin-right: -100%;
  }
  /* line 772, ../sass/layouts/_responsive.scss */
  #main #content #block-views-about-us-block-1 .views-field-field-us-image {
    text-align: center;
    width: 100% !important;
  }
  /* line 776, ../sass/layouts/_responsive.scss */
  #main #content #block-views-about-us-block-1 .views-field-body {
    clear: right;
    width: 100% !important;
  }
  /* line 785, ../sass/layouts/_responsive.scss */
  #main .sidebars #block-views-latest-news-block h2.block-title:before, #main .sidebars #block-views-latest-news-block h2.block-title:after {
    display: none !important;
  }

  /* line 794, ../sass/layouts/_responsive.scss */
  #footer #block-revslider-2 .forcefullwidth_wrapper_tp_banner {
    position: static !important;
  }
  /* line 796, ../sass/layouts/_responsive.scss */
  #footer #block-revslider-2 .forcefullwidth_wrapper_tp_banner .fullwidth-container {
    position: static !important;
    width: auto !important;
  }
  /* line 802, ../sass/layouts/_responsive.scss */
  #footer #block-menu-menu-footer-sitemap {
    float: right;
    width: 91.66667%;
    margin-right: 4.16667%;
    margin-left: -95.83333%;
  }
  /* line 805, ../sass/layouts/_responsive.scss */
  #footer #block-menu-menu-footer-sitemap ul li.expanded {
    text-align: center !important;
  }
  /* line 810, ../sass/layouts/_responsive.scss */
  #footer #block-imageblock-1 {
    text-align: right;
    clear: both !important;
    float: right;
    width: 58.33333%;
    margin-right: 4.16667%;
    margin-left: -62.5%;
  }
  /* line 815, ../sass/layouts/_responsive.scss */
  #footer #block-block-1 {
    text-align: right;
    clear: both !important;
    float: left;
    width: 58.33333%;
    margin-left: 16.66667%;
    margin-right: -75%;
  }
  /* line 820, ../sass/layouts/_responsive.scss */
  #footer #block-imageblock-2 {
    padding-top: 50px;
    clear: none !important;
    text-align: left;
    float: left;
    width: 33.33333%;
    margin-left: 0%;
    margin-right: -33.33333%;
  }
}
@media all and (max-width: 479px) {
  /* line 831, ../sass/layouts/_responsive.scss */
  #header {
    position: static !important;
  }
  /* line 834, ../sass/layouts/_responsive.scss */
  #header .header-wrapper .responsive-menus {
    margin-top: 40px;
  }
  /* line 837, ../sass/layouts/_responsive.scss */
  #header .header-wrapper #block-imageblock-3 {
    display: none;
  }
  /* line 840, ../sass/layouts/_responsive.scss */
  #header .header-wrapper #block-menu-block-1 {
    top: 40px;
  }
  /* line 844, ../sass/layouts/_responsive.scss */
  #header .header-wrapper #block-menu-block-1 ul li a.social-fb {
    margin-right: 20px !important;
  }

  /* line 853, ../sass/layouts/_responsive.scss */
  #main #content {
    padding: 0 20px;
  }
  /* line 855, ../sass/layouts/_responsive.scss */
  #main #content h2.block-title:before, #main #content h2.block-title:after, #main #content h1#page-title:after, #main #content h1#page-title:before {
    display: none !important;
  }
  /* line 861, ../sass/layouts/_responsive.scss */
  #main #content #block-panels-mini-original .pane-template-hot-cake .view-template-hot-cake .views-row {
    margin-bottom: 40px !important;
    text-align: center;
  }
  /* line 864, ../sass/layouts/_responsive.scss */
  #main #content #block-panels-mini-original .pane-template-hot-cake .view-template-hot-cake .views-row .views-field-title {
    margin-top: 20px !important;
  }
  /* line 873, ../sass/layouts/_responsive.scss */
  #main #content .view-latest-news ul li.views-row {
    width: 100% !important;
    clear: right;
    margin-right: 0px !important;
  }
  /* line 878, ../sass/layouts/_responsive.scss */
  #main #content .view-latest-news ul li.views-row .list-wrapper .views-field-field-image {
    margin-bottom: 20px;
    float: right;
    width: 100%;
    margin-right: 0%;
    margin-left: -100%;
  }
  /* line 880, ../sass/layouts/_responsive.scss */
  #main #content .view-latest-news ul li.views-row .list-wrapper .views-field-field-image a {
    display: block !important;
    float: none !important;
  }
  /* line 886, ../sass/layouts/_responsive.scss */
  #main #content .view-latest-news ul li.views-row .list-wrapper .views-field-title {
    margin-bottom: 10px;
    padding: 0px !important;
    clear: right;
    float: right;
    width: 87.5%;
    margin-right: 6.25%;
    margin-left: -93.75%;
  }
  /* line 892, ../sass/layouts/_responsive.scss */
  #main #content .view-latest-news ul li.views-row .list-wrapper .views-field-body {
    padding: 0px !important;
    clear: right;
    float: right;
    width: 87.5%;
    margin-right: 6.25%;
    margin-left: -93.75%;
  }
  /* line 896, ../sass/layouts/_responsive.scss */
  #main #content .view-latest-news ul li.views-row .list-wrapper .views-field-body span {
    text-align: justify;
  }
  /* line 900, ../sass/layouts/_responsive.scss */
  #main #content .view-latest-news ul li.views-row .list-wrapper .views-field-created {
    padding: 0px !important;
    clear: right;
    float: right;
    width: 87.5%;
    margin-right: 6.25%;
    margin-left: -93.75%;
  }
  /* line 910, ../sass/layouts/_responsive.scss */
  #main #content .node-shopping .field-name-field-shopping {
    display: none;
  }
  /* line 919, ../sass/layouts/_responsive.scss */
  #main .sidebars #block-views-latest-news-block h2.block-title:before, #main .sidebars #block-views-latest-news-block h2.block-title:after {
    display: none !important;
  }

  /* line 928, ../sass/layouts/_responsive.scss */
  #footer #block-revslider-2 .forcefullwidth_wrapper_tp_banner {
    position: static !important;
    height: 100% !important;
  }
  /* line 931, ../sass/layouts/_responsive.scss */
  #footer #block-revslider-2 .forcefullwidth_wrapper_tp_banner .fullwidth-container {
    position: static !important;
    width: auto !important;
  }
  /* line 937, ../sass/layouts/_responsive.scss */
  #footer #block-menu-menu-footer-sitemap {
    float: right;
    width: 75%;
    margin-right: 12.5%;
    margin-left: -87.5%;
  }
  /* line 940, ../sass/layouts/_responsive.scss */
  #footer #block-menu-menu-footer-sitemap ul li.expanded {
    width: 50%;
    float: left;
  }
  /* line 946, ../sass/layouts/_responsive.scss */
  #footer #block-imageblock-1 {
    text-align: right;
    clear: both !important;
    float: right;
    width: 75%;
    margin-right: 12.5%;
    margin-left: -87.5%;
  }
  /* line 951, ../sass/layouts/_responsive.scss */
  #footer #block-block-1 {
    margin-top: 20px;
    clear: none !important;
    float: right;
    width: 50%;
    margin-right: 12.5%;
    margin-left: -62.5%;
  }
  /* line 956, ../sass/layouts/_responsive.scss */
  #footer #block-imageblock-2 {
    padding-top: 10px !important;
    clear: right;
    text-align: left;
    float: left;
    width: 37.5%;
    margin-left: 0%;
    margin-right: -37.5%;
  }
}
/* Component (SMACSS module) rules */
/**
 * @file
 * RTL companion for the modular-styles.css file.
 */
/**
 * Branding header.
 */
/* Wrapping link for logo. */
/* line 11, ../sass/components/_misc-rtl.scss */
.header__logo {
  float: right;
}

/* The secondary menu (login, etc.) */
/* line 16, ../sass/components/_misc-rtl.scss */
.header__secondary-menu {
  float: left;
}

/**
 * Navigation bar.
 */
/* Main menu and secondary menu links and menu block links. */
/* line 27, ../sass/components/_misc-rtl.scss */
#navigation .links,
#navigation .menu {
  text-align: right;
}
/* line 30, ../sass/components/_misc-rtl.scss */
#navigation .links li,
#navigation .menu li {
  /* A simple method to get navigation links to appear in one line. */
  float: right;
  padding: 0 0 0 10px;
}

/**
 * Messages.
 */
/* line 41, ../sass/components/_misc-rtl.scss */
.messages, .messages--status, .messages--warning, .messages--error {
  padding: 10px 50px 10px 10px;
  background-position: 99% 8px;
}

/**
 * Tabs.
 */
/* line 58, ../sass/components/_misc-rtl.scss */
.tabs-primary__tab, .tabs-primary__tab.is-active, .tabs-secondary__tab,
.tabs-secondary__tab.is-active {
  float: right;
}

/**
 * Inline styles.
 */
/* List of links */
/* line 77, ../sass/components/_misc-rtl.scss */
.inline li {
  /* Bug in Safari causes display: inline to fail. */
  display: inline-block;
  padding: 0 0 0 1em;
}

/* The inline field label used by the Fences.module */
/* line 84, ../sass/components/_misc-rtl.scss */
span.field-label {
  padding: 0 0 0 1em;
}

/**
 * "More" links.
 */
/* line 91, ../sass/components/_misc-rtl.scss */
.more-link {
  text-align: left;
}

/* line 94, ../sass/components/_misc-rtl.scss */
.more-help-link {
  text-align: left;
}

/* line 97, ../sass/components/_misc-rtl.scss */
.more-help-link a {
  background-position: 100% 50%;
  padding: 1px 20px 1px 0;
}

/**
 * Menus.
 */
/* line 105, ../sass/components/_misc-rtl.scss */
.menu__item.is-collapsed {
  list-style-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAHAQMAAAD+nMWQAAAABlBMVEX///8AAABVwtN+AAAAAXRSTlMAQObYZgAAABNJREFUCB1j4GASYFJgcmD+A4IADUIDfIUMT4wAAAAASUVORK5CYII=');
}

/**
 * Comments.
 */
/* Nested comments are indented. */
/* line 117, ../sass/components/_misc-rtl.scss */
.indented {
  margin-left: 0;
  margin-right: 30px;
}

/**
 * Forms.
 */
/* Drupal's default login form block */
/* line 127, ../sass/components/_misc-rtl.scss */
#user-login-form {
  text-align: right;
}

/* line 132, ../sass/components/_misc-rtl.scss */
html.js #user-login-form li.openid-link,
#user-login-form li.openid-link {
  /* Un-do some of the padding on the ul list. */
  margin-left: 0;
  margin-right: -20px;
}

/*
 * Drupal admin tables.
 */
/* line 142, ../sass/components/_misc-rtl.scss */
form th {
  text-align: right;
  padding-left: 1em;
  padding-right: 0;
}

/**
 * Collapsible fieldsets.
 *
 * @see collapse.js
 */
/* line 155, ../sass/components/_misc-rtl.scss */
html.js .collapsible .fieldset-legend {
  background-position: 98% 75%;
  padding-left: 0;
  padding-right: 15px;
}
/* line 160, ../sass/components/_misc-rtl.scss */
html.js .collapsed .fieldset-legend {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAHAQMAAAD+nMWQAAAABlBMVEX///8AAABVwtN+AAAAAXRSTlMAQObYZgAAABNJREFUCB1j4GASYFJgcmD+A4IADUIDfIUMT4wAAAAASUVORK5CYII=');
  background-position: 98% 50%;
}

/* SMACSS theme rules */
/* @import "theme-A-rtl"; */
/* @import "theme-B-rtl"; */
